* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: conic-gradient(from -90deg at 25% 115%, #ff0000, #ff0066, #ff00cc, #cc00ff, #6600ff, #0000ff, #0000ff, #0000ff, #0000ff);
    
}  

header, footer {
    width: 100vw;
}

header {
    display: flex;
    align-items: center;
    background-color: darkblue;
    color: goldenrod;
    margin-bottom: 2em;
}

header img {
    max-width: 250px;
    padding: 1em;
}

header h2 {
    font-size: 250%;
}

nav {
    flex-basis: 20%;
}

main {
    flex-basis: 65%;
}

nav ul {
    position: sticky;
    top: 50px;
    list-style-type: none;
    width: 90%;
}

nav li {
    margin-bottom: 1em;
}

nav a {
    display: block;
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 1em .5em;
    border: 2px ridge goldenrod;
    border-radius: 10px;
    transition: all ease-in-out 300ms;
}

nav a:hover {
    background-color: black;
    color: goldenrod;
}

article {
    margin-bottom: 2em;
}

.videowrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin: 0 auto;
    border: 6px ridge #808080;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    padding: 2em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkblue;
    color: goldenrod;
}

#cornerBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    padding: 1em 2em;
    background-color: rgba(255, 0, 0, 0.389);
    border: rgba(255, 0, 0, 0.295);
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 120%;
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out 300ms;
}

#cornerBtn:hover {
    background-color: black;
    color: red;
    border: 2px ridge goldenrod;
}

@media (max-width: 600px) {
    nav {
        display: none;
    }

    header {
        flex-direction: column;
    }

    header h2 {
        text-align: center;
    }

    main {
        flex-basis: 100%;
    }

    .videowrapper {
        border: none;
    }
}